<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
  </head>
  <body>
    <header>
      <h1>MAHAD KHALID</h1>
    </header>
    <nav>
      <a href="#_food">One</a>
      <a href="#_achievement">Two</a>
      <a href="#_me">Three</a>
      <a href="#_End">Go to End</a>
    </nav>

    <section id="_food">
      <h2>Favorite Foods</h2>
      <ul>
        <li>Pizza</li>
        <li>Chicken Shashlik</li>
        <li>Pomegranate</li>
        <li>Shawarma</li>
      </ul>
    </section>

    <section id="_achievement">
      <h2>Achievements</h2>
      <p>
          Progess in this course (100%)<progress value="100" max="100">100%</progress> <br>
          Progess in this Specialization capstone (20%)<progress value="20" max="100">20%</progress> <br>
          Progess in life goals (30%)<progress value="30" max="100">30%</progress> <br>
      </p>
    </section>

    <section id="_me">
      <h2>More About Me</h2>
      <details open>
        <summary>My Childhood</summary>
        <p>I grew up in karachi. Everyday i went outsise to play with my friends but suddenly we all grew up and got busy.</p>
      </details>
    </section>

    <footer id="_End">
        <img src="http://www.intro-webdesign.com/images/newlogo.png"  alt="Image of WD4E logo">
        <caption>This page was created by Mahad Khalid and Coleen van Lent. To learn more about web design, visit <a href="http://intro-webdesign.com"> Inro to Web Design.</a></caption>
    </footer>

  </body>
</html>
