{% extends "MYnavbar.html"%}

{% block content %}
  <figure>
    <h1>STuff</h1>
    <br>
    <img src="https://images.unsplash.com/photo-1598721027883-0a2f97edf4d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
    width="40%" alt="image not found">
    <figcaption><strong>Coast Guard(Black and White picture)</strong></figcaption>
  </figure>
  <br><br><br>
{% endblock %}


    <!-- <h3>My website within my website.</h3>
    <iframe src="one.html" width="400px" height="300px" ></iframe> -->
